{% extends "base.html" %}

{% block head %}
    <title>Forms test</title>
{% endblock %}

{% block body %}

    <div>
        {% for todo in todos %}
            <div class="todo_card">
                <div class="todo_card">
                    {% if todo.completed == 'True' %}
                        <h5><del> {{ todo.name }}</del></h5>
                    {% else %}
                        <h5> {{ todo.name }} </h5>
                    {% endif %}

                    <p> {{ todo.date_created }} </p>
                    <p> {{ todo.description }} </p>

                    <a href="{{ url_for('update_todo', id=todo._id) }}"> Update </a>
                    <a href="{{ url_for('delete_todo', id=todo._id) }}"> Delete </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        <form action="" method="POST">
            {{ form.csrf_token() }}
            <fieldset>
                <legend>Add Todo</legend>

                <!--  -->
                <div class="todo_forms">
                    {{ form.name.label(class="todo_forms") }}
                    {% if form.name.errors %}
                        {{ form.name(class="todo_forms") }}
                        {% for error in form.name.errors %}
                            <div>
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.name(class="todo_forms") }}
                    {% endif %}
                </div>

                <div class="todo_forms">
                    {{ form.description.label(class="todo_forms") }}
                    {% if form.description.errors %}
                        {{ form.description(class="todo_forms") }}
                        {% for error in form.description.errors %}
                            <div>
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.description(class="todo_forms") }}
                    {% endif %}
                </div>


                <div class="todo_forms">
                    {{ form.completed.label(class="todo_forms") }}
                    {% if form.completed.errors %}
                        {{ form.completed(class="todo_forms") }}
                        {% for error in form.completed.errors %}
                            <div>
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.completed(class="todo_forms") }}
                    {% endif %}
                </div>

                <div class="todo_forms">
                    {{ form.submit(class="todo_forms") }}
                </div>

            </fieldset>
        </form>
    </div>

{% endblock %}